@import "maincolor.css";


.panel{
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    display: flex;
    border: 1px solid var(--color3);
    overflow: hidden;
    position: relative;
}
#panel_resize{
    position: absolute;
    top: -.8px;
    transform: translate(1px,-1.2px);
    right: 0px;
    width: 27px;
    height: 18px;
    border: 2px solid var( --color3);
    border-top: none;
    z-index: 999;
    background-color: var( --color1);
    outline: none;
    border-radius: 0 0 3px 3px;
}

#resize_span{
    position: absolute;
    width: 7px;
    height: 7px;
    border: 2px solid var(--color4);
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%) rotate(45deg);
    transition: all ease 600ms;
    border-right: none;
    border-bottom: none;
}

/***********************************************************/
/****************     Setting List     *********************/
/***********************************************************/
.area_in_panelmain{
    /* overflow: hidden; */
}
div#settingList{
    width: 18%;
    height: 420px;
    background-color: var(--color1);
    border: 1px solid var(--color3);
    margin: 0px;
}

div#settingList #gamePic{
    height: fit-content;
    padding: 10px;
    width: 100%;
}

div#settingList #gamePic img{
    width: 60%;
    display: block;
    margin: 0 auto;
}

div#settingList .items{
    background-color: var(--color2);
    color: var(--color4);
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-top: 1px solid var(--color3);
    border-bottom: none;
    cursor: pointer;
    position: relative;
}

div#settingList .items.last{
    border-bottom: 1px solid var(--color3);
}



div#settingList .items .clicked{
    position: absolute;
    border: 7px solid transparent;
    border-left: 20px solid var(--color3);
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    display: none;
}







/***********************************************************/
/****************      Select Area     *********************/
/***********************************************************/
#selectArea{
    width: 0px;
    height: 420px;
    background-color: var(--color1);
    border: 1px solid var(--color3);
    display: none;
}

div#selectArea #forsetting{
    position: relative;
    margin: 0px;
}

div#selectArea .settingItem{
    background-color: var(--color2);
    color: var(--color4);
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-top: 1px solid var(--color3);
    border-bottom: none;
    cursor: pointer;
    opacity: 0;
    position: relative;
    top: 150px;
}

div#selectArea .settingItem:last-child{
    border-bottom: 1px solid var(--color3);
}

.flash{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2.5px solid var(--color4);
    /* background-color: transparent; */
    right: 0%;
    top: 0;
    z-index: 99;
}

/***********************************************************/
/****************      totlal Setting Area     *********************/
/***********************************************************/

div#settingArea{
    width: 82%;
    background-color: var(--color1);
    padding: 0px;
    margin: 0px;
    height: 420px;
    border: 1px solid var(--color3);
    background-image: url("../pics/background.png");
    background-repeat: no-repeat;
    background-position: center;
}

div#settingArea .areapaper{
    width: 100%;
    height: 1260px;
    background: var(--papers);
    color: var(--color4);
    /* background: red; */
    position: relative;
    top: 420px;
    display: none;
}

/***********************************************************/
/****************     About Area     *********************/
/***********************************************************/

div#settingArea .areapaper iframe{
    width: 100%;
    height: 420px;
    border: none;
    outline: none;
    padding: 20px;
    overflow-x: hidden;
}

/***********************************************************/
/****************     Setting Area     *********************/
/***********************************************************/

div#settingArea .areapaper .paperin_setting {
    width: 100%;
    height: 420px;
    position: relative;
    /* background-color: rgba(255, 0, 0, 0.205); */
    display: flex;
    padding: 20px;
    cursor: default;
}

.mainside{
    width: 40%;
    height: 100%;
    /* background-color: rgba(0, 0, 255, 0.301); */
}

.sidepaper{
    width: 60%;
    height: 100%;
    /* background-color: rgba(255, 0, 0, 0.205); */
}

div#settingArea .areapaper .inpubox{
    /* margin: 20px; */
    /* margin-bottom: 31px; */
    margin-left: 20px;
    height: 25%;
}

.inpubox button{
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    color: var(--color4);
    padding: 4px 15px;
    font-size: 15px;
    line-height: 1rem;
}

button:focus{
    border: none;
    outline: none;
}

div#settingArea .areapaper .paperin_setting .inpubox .sub_btn{
    background-color: var(--color2);
    border: .8px solid var(--color3);
    left: 0;
}

div#settingArea .areapaper .paperin_setting .inpubox .cancel_set{
    background-color: transparent;
    left: 25%;
}

div#settingArea .areapaper .paperin_setting .inpubox .inputs{
    /* display: block; */
    border-radius: 3px;
    margin-bottom: 0px;
    margin-left: 10px;
    outline: none;
    border: none;
    padding: 1px 5px;
    overflow: hidden;
    font-size: 14px;
    line-height: 14px;
    width: 73px;
    margin-top: 7px;
    background-color: var(--color3);
    color: var(--color4-1);
}

div#settingArea .areapaper .paperin_setting .inpubox .alarm{
    margin-left: 10px;
    font-size: 12px;
    line-height: 14px;
    cursor: default;
    color: crimson;
}

div#settingArea .areapaper .paperin_setting .inpubox span.warning_span{
    margin-left: 10px;
    font-size: 12px;
    line-height: 14px;
    cursor: default;
    display: block;
}


.inpubox input[type="radio"]{
    display: none;
    height: 0px;
    width: 0px;
}

.labels_size{
    color: var(--color4);
    position: relative;
    display: block;
    font-size: 12px;
    margin: 0;
    margin-left: 14px;
    cursor: pointer;
    padding-left: 8px;
    width: fit-content;
}

.labels_size .label_span{
    width: 7px;
    height: 7px;
    background-color: var(--color2);
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.labels_size.checked .label_span{
    background-color: var(--color3);
}

.color_box{
    margin-left: 10px;
    display: inline-block;
    width: 19px;
    height: 19px;
    border: .3px solid var(--color4-1);
    position: relative;
    top: 4px;
    cursor: pointer;
}

.inpubox button.format_color{
    position: relative;
    font-size: 12px;
    color: var(--color4);
    background-color: transparent;
    padding: 0;

}
.inpubox button.format_color:hover{
    color: var(--color4-1);
}

div#settingArea .areapaper .paperin_setting .inpubox .inputs.colorin{
    margin-left: -2px;
}

div#settingArea .areapaper #colorpaper .inpubox span.warning_span{
    margin-left: 23px;
}

.sharp{
    margin-left: 12px;
    color: var(--color3);
}


/* **************************************** */
/* **************control_panel************** */
/* **************************************** */

#control_panel{
    display: flex;
    justify-content: center;
    padding: 5px 0;
    background-color: var(--color1);
    border: 1px solid var(--color3);
    border-top: none;
    position: relative;
}


#control_panel .cp_box{
    width: 31%;
    margin: 0;
    padding: 0;
}

#control_panel .cp_box button{
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    /* position: absolute; */
    /* bottom: 5%; */
    background-color: var(--color2);
    color: var(--color4);
    padding: 4px 15px;
    font-size: 15px;
    line-height: 1rem;
}

#control_panel .cp_box p{
    display: inline;
    color: var(--color4);
}


button:disabled{
    background-color: var(--color3)!important;
    cursor: default!important;
}



